@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-fonts {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shyerd styels  */
.flex{
    display: flex;
}
.dark2{
    color: #E95A08;
}
.dark3{
    color:#4536367b
}
.main-margin{
    margin-left: 45px;
    margin-right: 45px;
}


/* nav styels  */
.nav{
    border: 2px solid blue;
    border: none;
    width: 1100px;
    height: 5rem;
    padding: 15px 30px;
    margin-left: 45px;
   margin-top: 35px;
   align-items: center;
    justify-content: space-between;
}
.logo-img{
   width: 100%;
   height: auto;
}
.nav-ul{
    gap: 50px;
    
}
.nav-ul-div{
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-size: ;
    
}
/* nav close */
/* main section stert */
/* herro section */
.main-div1{
    border: 2px solid black;
    border: none;
    height: 460px;
    width: 100%;
    justify-content: space-between;
    margin-top: 125px;
  
    
}
.herro1{
    border: 2px solid brown;
    border: none;
    width: 50%;
    height: 240px;
    margin-top: 215px;
    
}
.herro-img{
    margin-top: 100px;
}
.hero-h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;
}
.hero-p{
    font-size: 1rem;
}
/* herro section end */
.div2-hading{
    width: 100%;
    height: 130px;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 20px;
}
.caer-h2{
    font-size: 3rem;
    font-weight: bold;
}
.flower-p{
    font-size: 1.25rem;
    font-weight: 400;
    color: #5948487b;
   

}
.flower-cart{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}
.cart{
    text-align: center;
}
.cart img{
    width: 100%;
    height: auto;
}
.flower-name{
font-size: 1.25rem;
font-weight: 500;
}
.flower-price{
font-size: 1.25rem;
font-weight:bold;
}
.flower-button{
    background-color:#E95A08 ;
    border: none;
    width:100%;
    height: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

/* div 3 */
.div-3{
    margin-top: 170px;
    gap: 60px;
    border: 2px solid brown;
    border: none;
    height: 450px;
}
.div3-img{
    width: 100%;
    height: auto;
}
.div3-flower-plants{
    width:50%;
    margin-top: 40px;
}
.div-3-h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
/* div4 */

.larest-deals{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 150px;
}
.larest-h2{
    font-size: 3rem; 
    font-weight: bold;
}
.larest-p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #5948487b;
}
.sub-div-4{
gap: 15px;
margin-top: 50px;
}
.sub-div04{
    border: 2px solid blue;
    border: none;
    width: 30%;
    height: 410px;
    display: grid;
    grid-template-rows: repeat(2 ,1fr);
    gap: 15px;
    
}
.sub-div004{
    background-image: url(../assets/deal-bloom.png);
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sub-div0004{
    background-image: url(../assets/deal-ana.png);
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sub-div014{
   background-image: url(../assets/deal-zabo.png);
    width: 67%;
    height:auto;
    border-radius: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* fotter section  */
.fotter-1{
    background-image: url(../assets/news-letter-bg.png);
    width: 100%;
    height: 430px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top:120px ;
}
.fotter-1 h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.subscribe-input{
    display: flex;
    

}
.subscribe-input input {
    width: 700px;
    height: 50px;
    padding: 20px;
    border: none;

}
.subscribe-input button{
    width: 180px;
    height: 50px;
    border: none;
    background-color:#E95A08 ;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

/* fotter 2 */

.fotter-2{
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 80px;
}
.fotter-2-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fotter-2-ul li {
    list-style: none;
}
.fotter-2-ul a {
    text-decoration: none;
    color: #6B7280;
}
.fotter-logo{
    display: flex;
    gap: 40px;
    align-items: start;
}
/* responsive for mobail */


@media screen and (max-width:576px) {
    .nav{
        width:95%;
        height: 40px;
        margin-left: 10px;
        margin-top: 35px;
        padding: 0px;
    }
    

    .nav-ul-div{
        display: none;
    }
    .main-margin{
    margin: 5px;
}
    .main-div1{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-top: 100px;
        gap: 5px;
        border: none;
    }
    .herro1{
  margin-top: 10px;
  width: 100%;
  margin-left: 15px;

}
.herro-img{
    height: 240px;
    width: 100%;
    margin: 0;
}
/* div2 cart*/
.flower-cart{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2 ,1fr);
    gap: 5px;
    margin-top: 100px;
}
.div2-hading{
margin-top: 50px;
}

/* div 3 */

.div-3{
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: auto;
}
.div3-flower-plants{
    width: 100%;
    height: auto;
    margin-top: 5px;
   
}
.div-3-li{
    width: 100%;
    height: auto;
}
/* div 4 */
.sub-div-4{
    flex-direction: column;
}
.sub-div04{
    width: 100%;
    height:400px;
    padding: 10px;
}
.sub-div014{
    width: 96%;
    height:200px;
    margin-left: 10px;
}

/* fotter 1 */
.fotter-1{
    margin-top: 20px;
    width: 100%;
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
}
.subscribe-input input {
    width: 200px;
}
.subscribe-input button{
    width: 100px;
}
.fotter-1 h1 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
/* fotter 2 */
.fotter-2{
    flex-direction: column;
    margin-left: 25px;
}
.fotter-2-ul{
    margin-top: 20px;
}
.fotter-logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
}
